*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Poppins", sans-serif;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    perspective: 1000px;
}
.container {
    width:40%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.card {
    transform-style:preserve-3d;
    min-height:60vh;
    width:28rem;
    border-radius:30px;
    padding:0rem 5rem;
    box-shadow:0 20px 20px rgba(0,0,0,0.2),0px 0px 50px rgba(0,0,0,0.2);
}
.sneaker{
    min-height:35vh;
    display:flex;
    align-items:center;
    justify-content: center;
}
.sneaker img{
    width:11rem;
    z-index: 2;
    transition:all 0.75s ease-out;
}
.circle{
    width:9rem;
    height: 9rem;
    background: linear-gradient(to right, rgb(15 241 0 / 75%),rgb(0 129 255 / 70%));
    position:absolute;
    border-radius: 10%;
    z-index:1;
}
.info h1{
    font-size:1rem;
    transition:all 0.75s ease-out;
}
.info h3{
    font-size:1rem;
    padding:1rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition:all 0.75s ease-out;
}
.sizes{
    display:flex;
    justify-content: space-between;
    transition:all 0.75s ease-out;
}
.sizes button{
    padding:0.5rem 2rem;
    background: none;
    border:none;
    box-shadow:0px 5px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor:pointer;
    font-weight:bold;
    color:#585858;
}
button.active{
    background: #0081ffb3;
    color:#fff;
}
.purchase{
    margin-top:3rem;
    
transition:all 0.75s ease-out;
}
.purchase button{
width:100%;
padding:1rem 0rem;
background: #0081ffb3;
border:none;
color:#fff;
cursor:pointer;
border-radius: 10px;
font-weight:bolder;
margin-bottom:10px;
}